<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Device And System" parallel="tests">
  <test name="Base Test1">
    <classes>
      <class name="sikuli.ocr.testClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->